<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/main.css" rel="stylesheet"/>

</head>
<body>
<main id="main">
    <div class="inner">
        <!-- Boxes -->
        <div class="box">
            <h2>Songs to be analysed</h2>
            {{ table }}
        </div>
        <div class="thumbnails">
            {% for name, table in sentiment_tables.items() %}
            <div class="box">
                <h2>
                    {{ name }}
                </h2>
                {{ table }}
            </div>
            {% endfor %}
        </div>
    </div>
</main>
</body>
</html>
