{% extends "partials/base.html" %}
{% block banner %}

<section id="banner">
    <div class="inner">
        <header>
            <h1>Sentiment player for your favorite music</h1>
            <p>Music influences our mood in many situations, sometime consciously sometimes subtle. This app
                provides
                support when going through times of a new beginning.</p>
        </header>
        <a class="more" href="#main">Get started</a>
    </div>
</section>

{% endblock banner %}

{% block main %}
<!-- Main -->
<main id="main">
    <div class="inner">

        <!-- Boxes -->
        <div class="thumbnails">

            <div class="box">
                <span class="image fit"><img alt="" src="static/images/pic01.jpg"/></span>
                <div class="inner">
                    <a class="button style2 fit" href="/">Test the Service</a>
                </div>
            </div>

            <div class="box">
                <span class="image fit"><img alt="" src="/static/images/pic02.jpg"/></span>
                <div class="inner">
                    <a class="button style3 fit" href="{{ url_for('MoodPlayerView:index') }}">Enjoy your own music</a>
                </div>
            </div>


        </div>

    </div>
</main>

{% endblock main %}
