{% extends "partials/base.html" %}
{% block banner %}
<section id="banner">
    <div class="inner">
        <header>
            <h1>Sentiment player for your favorite music</h1>
            <p>Music influences our mood in many situations, sometime consciously sometimes subtle. This app provides
                support when going through times of a new beginning.</p>
        </header>
        {% if is_loggedin %}
        <button class="button" disabled="disabled" id="logged_in_user">Logged in as {{ username }}</button>
        {% if is_analysed %}
        <button class="btn btn-primary btn-sm" disabled="disabled" id="btn_analysed">
            Music library analysed
        </button>
        {% else %}
        <form action="{{ url_for('AnalyseView:post') }}" class="no-padding" method="post">
            <button class="btn btn-primary btn-sm" id="btn_analyse" type="submit">
                Analyse your music library
            </button>
        </form>
        {% endif %}
        {% else %}
        <a class="button login" href="{{ url_for('LoginView:index', next=url_for('MoodPlayerView:index')) }}"
           id="spotify_login">Login with Spotify</a>
        {% endif %}

    </div>
</section>

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error" id="error_messages">
    {%- for msg in errors %}
    <div class="alert alert-danger" role="alert">{{msg }}
    </div>
    {% endfor -%}
</div>
{% endif %}
{% endwith %}

{% endblock banner %}


{% block main %}
{% if is_analysed %}
<!-- Main -->
<main id="main">
    <div class="inner">
        <!-- Boxes -->
        <div class="thumbnails">
            <div class="box">
                <div class="flex-item">
                    <div class="mood-box">
                        <div class="face-wrapper">
                            <div class="case3" id="eyes">
                                <div class="eyebrow left"></div>
                                <div class="eye left">
                                    <div class="eyelid"></div>
                                </div>
                                <div class="bottomlid left"></div>
                                <div class="eyebrow right"></div>
                                <div class="eye right">
                                    <div class="eyelid"></div>
                                </div>
                                <div class="bottomlid right"></div>

                            </div>
                            <div class="case3" id="mouth">
                                <div id="mouth-open"></div>
                            </div>
                            <div class="case3" id="face-bg">
                                <div class="face-light"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <h4> How Are You Feeling Today?</h4>
                    <div id="slider"></div>
                </div>
            </div>
            <div class="box">
                <span class="image fit"><img alt="" src="/static/images/pic02.jpg"/></span>
                <div class="inner">
                    <h2>Enjoy your own music</h2>
                    <form action="{{ url_for('MoodPlayerView:post') }}" class="no-padding" method="post">
                        {{ form.csrf_token }}
                        {% for button in form.sentiment_buttons() %}
                        {{ button }}
                        {% endfor %}
                    </form>

                    {% if playlist_id %}
                    <iframe allow="encrypted-media" allowtransparency="true" frameborder="0" height="80"
                            id="spotify_player" src="https://open.spotify.com/embed/playlist/{{ playlist_id }}"
                            width="300"></iframe>
                    {% endif %}

                </div>
            </div>

        </div>

    </div>
</main>

{% endif %}
{% endblock main %}

