{% extends "partials/base.html" %}
{% block banner %}
<section id="banner">
    <div class="inner">
        <header>
            <h1>Sentiment player for your favorite music</h1>
            <p>Music influences our mood in many situations, sometime consciously sometimes subtle. This app provides
                support when going through times of a new beginning.</p>
        </header>
        {% if is_loggedin %}
        <button class="button" disabled="disabled" id="logged_in_user">Logged in as {{ username }}</button>
        {% if is_analysed %}
        <button class="btn btn-primary btn-sm" disabled="disabled" id="btn_analysed">
            Music library analysed
        </button>
        {% else %}
        <form action="{{ url_for('AnalyseView:post') }}" class="no-padding" id="analyse_form" method="post">
            <button class="btn btn-primary btn-sm" id="btn_analyse" type="submit">
                Analyse your music library
            </button>
        </form>
        {% endif %}
        {% else %}
        <a class="button login" href="{{ url_for('LoginView:index', next=url_for('MoodPlayerView:index')) }}"
           id="spotify_login">Login with Spotify</a>
        {% endif %}

    </div>
</section>

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error" id="error_messages">
    {%- for msg in errors %}
    <div class="alert alert-danger" role="alert">{{msg }}
    </div>
    {% endfor -%}
</div>
{% endif %}
{% endwith %}

{% endblock banner %}


{% block main %}
{% if is_analysed %}
<!-- Main -->
<main id="main">
    <div class="inner">
        <!-- Boxes -->
        <div class="thumbnails">
            {% for category_player in category_players %}
            <div class="box" id="player_{{category_player.name}}">
                <h2>{{category_player.name}}</h2>
                <span class="image fit"><img alt="" src="{{category_player.cover_url}}"/></span>
                <div class="inner">
                    <iframe allow="encrypted-media" allowtransparency="true" frameborder="0" height="80"
                            id="spotify_player_{{category_player.name}}"
                            src="https://open.spotify.com/embed/playlist/{{ category_player.playlist_id }}"
                            width="300"></iframe>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</main>

{% endif %}
{% endblock main %}

