<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='/static/css/jquery-ui.css' rel='stylesheet'>
    <link href='/static/css/jquery-ui-slider-pips.css' rel='stylesheet'>
    <link href="/static/css/main.css" rel="stylesheet"/>

</head>
<body>
<main id="main">
    <div class="inner">
        <!-- Boxes -->
        <div class="box">
            <div class="ui-field-contain">
                <div class="slider-range" id="slider-range1"></div>
                <div class="slider-range" id="slider-range2"></div>
            </div>
        </div>
    </div>
</main>
<script src="/static/js/jquery.min.js"></script>
<script src='/static/js/jquery-ui.min.js'></script>
<script src='/static/js/jquery-ui-slider-pips.min.js'></script>
<script src="/static/dist/js/main.min.js"></script>
</body>
</html>
