<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='/static/css/jquery-ui.css' rel='stylesheet'>
    <link href='/static/css/jquery-ui-slider-pips.css' rel='stylesheet'>
    <link href="/static/css/main.css" rel="stylesheet"/>

</head>
<body>
<main id="main">
    <div class="inner">
        <!-- Boxes -->
        <div class="thumbnails">
            <div class="box">
                {% for sentiment in sentiments %}
                <h2>{{ sentiment.name }}</h2>
                <div class="ui-field-contain">
                    {% for classifier in classifiers %}
                    <div class="slider-range" id="{{ sentiment.name }}_{{ classifier }}"></div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
<script src="/static/js/jquery.min.js"></script>
<script src='/static/js/jquery-ui.min.js'></script>
<script src='/static/js/jquery-ui-slider-pips.min.js'></script>
<script src="/static/dist/js/main.min.js"></script>
</body>
</html>
