{% extends "partials/base.html" %}
{% block banner %}
<section id="banner">
    <div class="inner">
        <header>
            <h1>Sentiment player for your favorite music</h1>
            <p>Music influences our mood in many situations, sometime consciously sometimes subtle. This app provides
                support when going through times of a new beginning.</p>
        </header>
        <a class="more" href="#main">Get started</a>
    </div>
</section>
{% endblock banner %}

{% block main %}
<!-- Main -->
<div id="main">
    <div class="inner">

        <!-- Boxes -->
        <div class="thumbnails">

            <div class="box">
                <img alt="" src="static/images/pic01.jpg"/>
                <div class="inner">
                    <form action="/" class="no-padding" method="get">
                        <button class="btn btn-primary btn-sm" id="btn_test" type="submit">
                            Test the Service
                        </button>
                    </form>
                </div>
            </div>

            <div class="box">
                <img alt="" src="/static/images/pic02.jpg"/>
                <div class="inner">
                    <form action="{{ url_for('MoodPlayerView:index') }}" class="no-padding" method="get">
                        <button class="btn btn-primary btn-sm" id="btn_play" type="submit">
                            Enjoy your own music
                        </button>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock main %}
