{% extends "bootstrap/base.html" %}
{% block title %}Spotify Sentiment Classifier{% endblock %}
{% block metas %}
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
{% endblock metas %}
{% block styles %}
<link href="static/css/main.css" rel="stylesheet"/>
{% endblock styles %}

{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>Sentiment player for your favorite music</h1>
            <p>Music influences our mood in many situations, sometime consciously sometimes subtle. This app provides
                support when going through times of a new beginning.</p>
        </header>
        <p>Username: {{ username }}</p>
        <a class="more" href="#main">Get started</a>
    </div>
</section>

<!-- Main -->
<div id="main">
    <div class="inner">

        <!-- Boxes -->
        <div class="thumbnails">

            <div class="box">
                <img alt="" src="static/images/pic01.jpg"/>
                <div class="inner">
                    <form action="{{ url_for('AnalyseView:post') }}" class="no-padding" method="post">
                        {% if is_analysed %}
                        <button class="btn btn-primary btn-sm" disabled="disabled" id="btn_analysed" type="submit">
                            Music library analysed
                        </button>
                        {% else %}
                        <button class="btn btn-primary btn-sm" id="btn_analyse" type="submit">
                            Analyse your music library
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>

            <div class="box">
                <img alt="" src="static/images/pic02.jpg"/>
                <div class="inner">
                    <form action="{{ url_for('MoodPlayerView:post') }}" class="no-padding" method="post">
                        <button class="btn btn-primary btn-sm" id="depression_button" type="submit" value="DEPRESSION">
                            Play DEPRESSION song
                        </button>
                    </form>
                    <iframe allow="encrypted-media" allowtransparency="true" frameborder="0"
                            height="80" src="https://open.spotify.com/embed/playlist/7iruUrBrCrzVoMMy149yZu"
                            width="300"></iframe>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <h2>Etiam veroeros lorem</h2>
        <p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut
            erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus
            viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat
            venenatis. </p>

        <ul class="icons">
            <li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
            <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
            <li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
            <li><a class="icon fa-envelope" href="#"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
                href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
    </div>
</footer>
{% endblock content %}

{% block scripts %}
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.scrolly.min.js"></script>
<script src="static/js/skel.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>
{% endblock scripts %}
