{% extends "bootstrap/base.html" %}
{% block title %}Spotify Sentiment Classifier{% endblock %}
{% block metas %}
<meta charset="utf-8" xmlns="http://www.w3.org/1999/html"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
{% endblock metas %}
{% block styles %}
<link href='/static/css/jquery-ui.css' rel='stylesheet'>
<link href='/static/css/bootstrap.css' rel="stylesheet">
<link href='/static/css/jquery-ui-slider-pips.css' rel='stylesheet'>
<link href="/static/css/main.css" rel="stylesheet"/>
<link href="/static/dist/css/style.min.css" rel="stylesheet" type="text/css"/>

{% endblock styles %}

{% block content %}

{% block banner %}
{% endblock banner %}

{% block main %}
{% endblock main %}

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a class="icon fa-twitter" href="https://twitter.com/da_chrisch"><span class="label">Twitter</span></a>
            </li>
        </ul>
        <p class="copyright">&copy; Barefootagile 2020</p>
    </div>
</footer>
{% endblock content %}

{% block scripts %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.scrolly.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>
<script src='/static/js/jquery-ui.min.js'></script>
<script src='/static/js/jquery-ui-slider-pips.min.js'></script>
<script src="/static/dist/js/main.min.js"></script>
{% endblock scripts %}
